<header class="heder">
    <div class="container">
        <a class="heder__link" href="#">
            <svg class="heder__svg">
                <use href="/src/images/symbol-defs.svg#icon-logo">
                </use>
            </svg>
        </a>
     <nav class="heder__nav">
        <ul class="heder__list-nav">
            <li class="heder__item-nav">
                <a class ="heder__link-nav" href="#program">Studying program
                    </a>
                </li>
            <li class="heder__item-nav">
                <a class ="heder__link-nav" href="#about"><span class="about__heder">About</span>
                    </a>
                </li>
            <li class="heder__item-nav">
                <a class ="heder__link-nav" href="#how-we-do">Training options
                    </a>
                </li>
            <li class="heder__item-nav">
                <a class ="heder__link-nav" href="#contacts">Contacts
                    </a>
                </li>
        </ul>
     </nav>
     <a class="heder__button" href="#contacts">consultation by phone</a>
     <button class="button-burg" type="button" data-menu-open>
        <svg class="button-burg__icon" width="21" height="12">
            <use href="./images/symbol-defs.svg#icon-menu">
            </use>
        </svg>
    </button>
    </div>
</header>
